.wrapperProgress {
  position: relative;
  height: 0.5rem;
  min-width: 60vw;
  background-color: #eee;
  border-radius: 0.5rem;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0.5rem;
  background-color: #009463;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
}

@media screen and (min-width: 768px) {
  .wrapperProgress {
    min-width: 25rem;
  }
}
